.main {
	font-family: $main-sans-serif;
	color: $text-color;

	&__container {
		@include container;

		display: flex;

		@include media ((
			flex-direction: (sm: column),
			align-items: (sm: center),
			justify-content: (sm: center)
		));
	}

	&__profile, &__description {
		display: flex;
		flex-flow: 	column wrap;
	}

	&__profile {

		&-img {
			padding-top: 20px;

			img {
				max-width: 350px;
				width: 100%;
			}
		}

		&-info {
			ul {
				display: flex;
				flex-flow: column wrap;
				padding: 10px;

				li:not(last-child) {
					margin-bottom: 	10px;
				}

				span {
					font-weight: 700;
				}
			}
		}
	}

	&__description {
		margin-left: 100px;
		padding: 20px;

		@include media ((
			margin-left: (md: 10px),
			padding: (md: 10px)
		));

		&-links, &-comment {
			margin-bottom: 30px;
		}

		&-links {

			ul {
				display: flex;
				flex-flow: column wrap;

				li:not(last-child) {
					margin-bottom: 	10px;
				}

				a {
					font-weight: 700;
				}
			}
		}

		&-comment {
			h3 {
				margin: 5px 0;
			}
		}

		&-links {
			border-bottom: 1px solid #333;
		}
	}
}
