.footer-main {
	font-family: $main-sans-serif;
	color: $lgrey;
	background-color: $footer-bg;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid $lgrey;

	&__container {
		@include container;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 60px;

		@include media ((
			flex-flow: (sm: column wrap),
			justify-content: (sm: center),
			padding: (sm: 10px 0)
		))
	}

	&__copyright {
		font-size: 12px;

		span {
			display: block;
			text-align: right;

			@include media ((
				text-align: (sm: center)
			))
		}
	}

	&__share {
		display: flex;
		align-items: center;

		@include media ((
			flex-flow: (sm: column wrap),
			justify-content: (sm: center),
			margin-bottom: (sm: 20px)
		))

		div {
			margin-right: 15px;
			text-align: center;
		}
	}
}
